<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBase</title>
    {% load static %}
    <link rel=stylesheet href="{% static 'index.css' %}">
    <style>
        body{
            background-image: url("{% static 'picture/backgroundimage.png' %}");
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <header>
            <h2 class="Heading">MediaFireV2</h2>
            <p class="TimerUser" >Time Right Now is <span id="Time"></span> </p>
            <h3 id="welcome" style="color: white;">Welcome  {{ request.user }} </h3>
            <!-- <button class="button">Upload Files <span>Click Me</span></button> -->
            <a href="logout"><button class="button">Logout</button></a>
        </header>
        <nav>
            <a href="home">Home</a>
            <a href="https://github.com/ofcoursenp">contacts</a>
            <a href="logout">Logout</a>
            <a href="https://github.com/ofcoursenp">Github</a>
            <a href="view">View ur items</a>
        </nav>
        </div>
        <div class="Textofmid">
            <h3>Made File Transfer Easy and Simple With DB32 , Uses its server to localy host the file and makes file transfer easy . Also a open source Project in <a href="https://github.com/ofcoursenp/db32">Github</a></h3>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="Uplaod_files">
                <input type="file" name='file'>
                <input type="submit" class="button">
            </div>
        </form>
        <div class="moreInfo">
            <h3>Only 1 Servers Active Right And thats ur pc</h3>
        </div>
        <div class="row">
            <div class="column">
                <img src="{% static 'picture/share.png' %}" alt="sharingfiles">
                <h3>Share Files Without any worry of <br>losing it.Its safe and secure</h3>
            </div>
            <div class="column">
                <img class="shareimage" src="{% static 'picture/safefile.png' %}" alt="safefiles">
                <h3>Files are 100% encrypted and are <br> safe and secure</h3>
            </div>
            <div class="column">
              <img src="{% static 'picture/storefiles.png' %}" alt="storingfiles">
              <h3>Files are Stored without any loss of <br>loosing  them </h3>
            </div>
            <div class="column">
              <img src="{% static 'picture/collaborate.png' %}" alt="collaborate">
              <h3>You can colaborate with Your friends and emoployees </h3>
            </div>
          </div>
          
          <script>
            function timer(){
                time = new Date();
                console.log(time)
                return document.getElementById("Time").innerHTML = time 
            }
            let newDate = new Date();
            setInterval(timer, 1000)

          </script>
</body>
</html>